@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans',sans-serif;
}

a{
    text-decoration: none;
    color: #000;
}

/*---------------------------------------Header, Main, Navegación--------------------------------------------------*/


.contenedor{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(90px ,90px) auto;
    grid-template-rows: 60px auto;
    grid-template-areas: "header header"
                        "menu contenido" ;
    transition: all .3s ease;
    
}
.contenedor.active{
    grid-template-columns: minmax(300px ,18%) auto;
}

.header{
    grid-area: header;
    padding: 0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    grid-template-areas: "logo busqueda iconos";
}

.header .contenedor-logo{
    grid-area: logo;
    display: flex;
    align-items: center;
}

.header .contenedor-logo .boton-menu{
    border: none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.header .contenedor-logo .boton-menu:hover{
    background: #E7E7E7;
}

.header .contenedor-logo .logo img{
    padding: 7px 12px;
    border-radius: 9px;
    position: relative;
    top: 1px;
}

.header .barra-busqueda{
    grid-area: busqueda;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .barra-busqueda input{
    min-width: 60%;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Open Sans',sans-serif;
}

.header .barra-busqueda button{
    height: 35px;
    border: 1px solid #ccc;
    border-left: none;
    color: #545454;
    background: #F8F8F8;
    padding: 0 25px;
    cursor: pointer;
}

.header .barra-busqueda button:hover{
    background: #F8F8F8;
}

.header .botones-header{
    grid-area: iconos;
    display: flex;
    align-items: center;
}

.header .botones-header button{
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 18px;
    padding: 7px 12px;
    border-radius: 100px;
    color: #828282;
    margin-right: 20px;
    cursor: pointer;
}

.header .botones-header button:hover{
    background: #E7E7E7;
}

.menu-lateral{
    grid-area: menu;
    background: #fff;
    overflow: hidden;
}
.menu-lateral a{
    display: block;
    padding: 20px 40px;
    color:#000;
    min-width: 800px;
    text-decoration: none;
}

.menu-lateral a:hover{
    background: #E5E5E5;
}

.menu-lateral a.active{
    background: #E5E5E5;
    font-weight: bold;
}

.menu-lateral .fas{
    margin-right: 32px;
    color: #c4bebe;
    width: 20px;
    text-align: center;
}

.menu-lateral a.active .fas{
    color: #d41515;
}


.main{
    background: #fff;
    grid-area: contenido;
    padding: 40px;
}
.main .titulo{
    margin-bottom: 30px;
    text-align: center;
}

.main .carousel{
    width: 100%;
    margin-bottom: 100px;
}
.main .carousel-control-next span{
    color: rgb(8, 8, 8);
    background-color: rgb(46, 45, 45);
}
.main .carousel-control-prev span{
    color: rgb(245, 12, 12);
    background-color: rgb(46, 45, 45);
}

.main .inicio{
    margin-bottom: 20px;
    text-align: center;
}

/*---------------------------------------Sección Productos--------------------------------------------------*/


.product-grid4,.product-grid4 .product-image4{position:relative}
.product-grid4{font-family:Poppins,sans-serif;text-align:center;border-radius:5px;overflow:hidden;z-index:1;transition:all .3s ease 0s}
.product-grid4:hover{box-shadow:0 0 10px rgba(0,0,0,.2)}
.product-grid4 .product-image4 a{display:block}
.product-grid4 .product-image4 img{width:100%;height:auto}
.product-grid4 .pic-1{opacity:1;transition:all .5s ease-out 0s}

.product-grid4 .social{width:180px;padding:0;margin:0 auto;list-style:none;position:absolute;right:0;left:0;top:50%;transform:translateY(-50%);transition:all .3s ease 0s}
.product-grid4 .social li{display:inline-block;opacity:0;transition:all .7s}
.product-grid4 .social li:nth-child(1){transition-delay:.15s}
.product-grid4 .social li:nth-child(2){transition-delay:.3s}
.product-grid4 .social li:nth-child(3){transition-delay:.45s}
.product-grid4:hover .social li{opacity:1}
.product-grid4 .social li a{color:#222;background:#fff;font-size:17px;line-height:36px;width:40px;height:36px;border-radius:2px;margin:0 5px;display:block;transition:all .3s ease 0s}
.product-grid4 .social li a:hover{color:#fff;background:#16a085}
.product-grid4 .social li a:after,.product-grid4 .social li a:before{content:attr(data-tip);color:#fff;background-color:#000;font-size:12px;line-height:20px;border-radius:3px;padding:0 5px;white-space:nowrap;opacity:0;transform:translateX(-50%);position:absolute;left:50%;top:-30px}
.product-grid4 .social li a:after{content:'';height:15px;width:15px;border-radius:0;transform:translateX(-50%) rotate(45deg);top:-22px;z-index:-1}
.product-grid4 .social li a:hover:after,.product-grid4 .social li a:hover:before{opacity:1}
.product-grid4 .product-discount-label,.product-grid4 .product-new-label{color:#fff;background-color:#16a085;font-size:10px;font-weight:800;text-transform:uppercase;line-height:45px;height:45px;width:45px;border-radius:50%;position:absolute;left:10px;top:15px;transition:all .3s}
.product-grid4 .product-discount-label{left:auto;right:10px;background-color:#d7292a}
.product-grid4:hover .product-new-label{opacity:0}
.product-grid4 .product-content{padding:25px}
.product-grid4 .title{font-size:15px;font-weight:400;text-transform:capitalize;margin:0 0 7px;transition:all .3s ease 0s}
.product-grid4 .title a{color:#222}
.product-grid4 .title a:hover{color:#16a085}
.product-grid4 .price{color:#16a085;font-size:17px;font-weight:700;margin:0 2px 15px 0;display:block}
.product-grid4 .price span{color:#909090;font-size:13px;font-weight:400;letter-spacing:0;text-decoration:line-through;text-align:left;vertical-align:middle;display:inline-block}
.product-grid4 .add-to-cart{border:1px solid #e5e5e5;display:inline-block;padding:10px 20px;color:#888;font-weight:600;font-size:14px;border-radius:4px;transition:all .3s}
.product-grid4:hover .add-to-cart{border:1px solid transparent;background:#16a085;color:#fff}
.product-grid4 .add-to-cart:hover{background-color:#505050;box-shadow:0 0 10px rgba(0,0,0,.5)}


/*---------------------------------------Footer--------------------------------------------------*/



footer{
    width: 100%;
    background: #fff;    
    color: rgb(0, 0, 0);   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    text-align: center;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
}

.row #moto{
    color: #000000;
}

.row #visa{
    color: #356be0;
}


.row #master{
    color: #e45a0a;
}


.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}
.row a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.row #face{
    color: #0950e7;
}
.row #insta{
    color: #fc4d08;
}
.row #youtube{
    color: #f10808;
}

.row .fab{
    margin-bottom:15px;
    width: 36px;
    height: 36px;
    font-size: 25px;
}


.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
    color: #000;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row2 a{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    
}
.row2 .fas{
    margin-bottom:15px;
    width: 36px;
    height: 36px;
    font-size: 25px;
}
.row2 .far{
    margin-bottom:15px;
    width: 36px;
    height: 36px;
    font-size: 25px;
}
.row2 #location{
    color: #085588;
}
.row2 #correo{
    color:#f70b0b;
}


.container-footer{
    width: 100%;  
    background: #d8d6d6;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #000000;
}

.copyright a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #000000;
}

/*---------------------------------------Carrito de compras--------------------------------------------------*/
.btn-cerrar{
   cursor: pointer;
   font-size: 20px;
   float: right;
   margin-top: 25px;
   margin-right: 25px;
}
.carritoC{
    width: 310px !important;
    
}
.tituloCarrito{
    font-family: 'Open Sans',sans-serif;
   display: flex;
   justify-content: center;
   text-transform: uppercase;
   font-family: "Arial";
   padding-bottom: 18px;
   font-size: 1.18em;
   color: #000;
   font-weight: 255px;
   margin-top: 70px;
}
.producto-seccion{
    font-family: 'Open Sans',sans-serif;
    width: 280px;
    height: 144px;
    background-color: #FAF8F8;
    margin-left: 15px;  
    margin-bottom: 5px;

}
.producto-seccimg{
    width: 110px;
    height: 144px;
    background-color: white;
}
.prod-secc-img{
  width: 109px;
  height: 144px;
  background-size: cover;
  object-fit: cover;
  align-items: center;
}
.producto-secc-descrip{
    font-family: 'Open Sans',sans-serif;
    width: 130px;
    height: 90px;
    background-color: #FAF8F8;
    margin-top: -105px;
    margin-left: 120px;
}
.producto-seccion .producto-secc-titulo{
    font-family: 'Open Sans',sans-serif;
 float: right;
 width: 130px;  
 height: 30px;
 background-color: #FAF8F8;
 margin-top: -140px;
 margin-right: 30px;
}
.prod-secc-descrip{
    font-family: 'Open Sans',sans-serif;
 margin-bottom: 2px;
 line-height: 10px;
 font-family: "Gorgia";
 margin: 10px auto;
 color: #000;
 font-size: 0.9em;
}

.producto-seccion i{
    float: left;
    margin-top: -40px;
    margin-left: 130px;
    color: #f80909;
}
.separador i{
    margin-top: 40px;
    align-items: center;
    color: #000000;
    width: 80%;
    margin-left: 135px;
    margin-bottom: 10px;
}

.producto-secc-titulo .prod-secc-title{
    font-family: 'Open Sans',sans-serif;
    font-size: 1.2em;
    color: #000;
}

.contenido-valores{
   
    justify-content: space-between;
    font-family: 'Open Sans',sans-serif;
    color: #000000;
    padding-top: 5px;
    font-size: 15px;
    text-transform: initial;
    margin-bottom: 10px;
}
.contenido-valores .subt{
    margin-left: 150px;
    
}
.contenido-valores .envio{
    margin-left: 162px;
}
.valores-compra .total{
    margin-left: 170px;
}
.valores-compra .btn{
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #545454;
    border: none;
}
@media screen and (max-width: 1200px){

    .main .grid-videos{
    grid-template-columns: repeat(3, 1fr);
    }
    
    .header .contenedor-logo .logo span{
    
    display:none;
    }
    .header .barra-busqueda input{
    min-widht:70%;
    }
    }
    
    
    @media screen and (max-width:992px){
    .main .grid-videos{
    
    grid-template-columns: repeat(2, 1fr);
    
    }
    
    }
    
    @media screen and (max-widht: 760px){
    .contenedor{
    grid-template-rows: auto;
    }
    .header{
    padding:20px;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-template-areas: "logo iconos"
                "busqueda busqueda";
    }
    .header .contenedor-logo .logo span{
    display: inline;
    }
    .header .barra-busqueda input{
    min-width: auto;
    width: 100%;
    }
    }
    
    @media screen and(max-width:576px){
    
    .main .grid-videos{
    
    grid-template-columns: 1fr;
    }

@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

@media only screen and (max-width:990px){.product-grid4{margin-bottom:30px}
}

@media only screen and (max-width:1200px){.product-grid4{margin-bottom:30px}
}